html {
  font-size: 16px;
}
main {
  max-width: 1000px;
  margin: auto;
}
p {
  line-height: 1.5em;
  max-width: 800px;
}
h1 {
  font-size: 2.25rem;
  text-align: left;
}
h2 {
  font-size: 2.1rem;
  text-align: left;
}
h1, h2, h3 {
  margin-top: 4em;
}
/*
*/
.diagram-showcase {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  text-align: center;
}
.diagram-showcase figure {
  margin: 0;
  margin-right: 1em;
  margin-bottom: 1em;
}
.diagram-showcase figcaption {
  font-size: 0.6em;
}
