main {
  max-width: 1000px;
  margin: 20vh auto;
  position: relative;
}

aside {
  position: absolute;
  left: 100%;
  opacity: 0.9;
  width: 200px;
  font-size: 0.9rem;
  font-family: var(--font-family-sans);
}
.aside-anchor {
  position: relative;
}
.aside-anchor aside {
  top: 0;
}
