html {
  font-size: 16px;
}

html * {
  box-sizing: border-box;
}

:root {
  --font-family-serif:
      Iowan Old Style, Apple Garamond, Baskerville,
      Times New Roman, Droid Serif, Times, Source Serif Pro,
      serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-family-sans:
      -apple-system, BlinkMacSystemFont, avenir next,
      avenir, segoe ui, helvetica neue, helvetica,
      Ubuntu, roboto, noto, arial, sans-serif;
  --font-family-mono:
      Menlo, Consolas, Monaco, Liberation Mono,
      Lucida Console, monospace;
}

body,
.serif {
  font-family: var(--font-family-serif);
}

h1, h2, h3, h4, h5, h6,
.sans {
  font-family: var(--font-family-sans);
}

.stele1,
code,
.mono {
  font-family: var(--font-family-mono);
}

.prose {
  max-width: 600px;
}

.site-header {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
}
.site-header img {
  width: auto;
  height: 2.5rem;
  display: block;
}
.site-header a,
.site-header a:hover {
  text-decoration: none;
  color: #555;
  padding: 0.5em;
  display: block;
}
.site-header a:hover { 
  text-decoration: underline;
}

.site-footer {
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
  font-size: 0.9em;
}
