html {
  font-size: 18px;
}

h2 { margin-top: 3em; }
h3 { margin-top: 2em; }
h4 { margin-top: 1em; }

main {
  margin: auto;
  max-width: 700px;
}

main > header {
  padding-top: 20vh;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

main > header .fancy-hr {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
  height: 20px;
  border: none;
  margin: 1em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: disc;
}
li {
  margin: 0;
  padding: 0;
  margin-left: 1em;
}
li:not(:last-child) {
  margin-bottom: 1em;
}

.col-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.col-2 > * {
  width: calc(50% - 2em);
}

.paragraphs {
  width: 80%;
}
