
## Clear photos are more important that familiar views

It's easier to identify parts of a whole.
so take a photo that shows the whole, even if the climber is unlikely to see that whole in practice.
use a stick or tripod (or climb up) to reach a vantage point that shows an entire feature

## light and shadows

- [woodland is already very contrasty](https://youtu.be/FF-LdhYcot0?t=504)
- Hilla & Bernd Becher would only photograph...
  - on overcast days,
  - early in the morning
  - in spring and fall
  - to avoid shadows and light changes that could affect how the building could be perceived
  - see [The Photography of Hilla & Bernd Becher](https://youtu.be/j72zmW_-x-I?t=162)
    by [T. Hopper](https://www.youtube.com/@THopper)

## keeping the horizon level

## post processing

- average photos to remove people, noise, crisp plants, clouds, and other ephemeral features.
- bracketing

## including the sky

## empty areas are important

## cropping closely

## how much data do you need?

how many mexapixels
- for printing in a book? on a wall?
- zoom?
- one boulder? one pitch? 

## including humans

## major features/landmarks

large tree in the area? parking lot? powerlines? river?

<h2>How much non-rock padding is important?</h2>

space around the photo's edges that are not rocks

<h2>Including Context</h2>

<h2>Limited Framing</h2>

<h2>Distortion</h2>

<ul>
  <li>wide-angle
  <li>panorama
  <li>other composites
</ul>

<h3>alteratives to distortion</h3>

<p>
  overlapping but non-stitched photos
  can be played in a logical order
  <!-- TODO: this could be a good candidate for a library -->
</p>

<h2>People in Photos</h2>

<p>dogs, packs, ropes, and other non-natural features</p>

<p>this can offer scale</p>
<p>this rarely offers appeal to a user</p>
<p>this distracts from the purpose</p>

<h3>Exceptions for an intentional theme</h3>

## angles

- climber's perspective
  - from the parking lot, approach, or base of the route
- from a nearby peak
  - include foreground?
- drone?
  annotate with propellor, or hot air baloon?

## atomsphere

heat, haze, etc.

## compressing features with telephoto lenses

include more relevant features with long lenses
(or, more rarely, highlight distance with wide lenses)
